.sass-cache
.tmp
node_modules
bower_components

build
design
tests

*.zip
*.sublime-workspace

.DS_Store
._*.*
Desktop.ini
Thumbs.db

dev/*.*
dev/res/js-dev/*.*
dev/res/css-dev/
dev/res/sass-dev/*.*
dev/res/sass-dev/project
dev/templates/*.*
