/* Button */
.buttonLink, .buttonInput {
  height: 44px;
  padding: 0 28px;
  border: 2px solid #337ab7;
  color: #fff;
  background: #337ab7;
  -webkit-transition: 0.15s;
  transition: 0.15s; }

.buttonLink {
  text-decoration: none;
  line-height: 44px; }
  .buttonLink:visited {
    color: #fff;
    background: #337ab7; }

.buttonInput {
  cursor: pointer; }

.buttonLink:hover, .buttonInput:hover, .buttonLink:active, .buttonInput:active {
  color: #337ab7;
  background: #fff; }

/* Hamburger */
.navToggle {
  width: 25px;
  height: 19px;
  color: #d9534f;
  line-height: 19px; }
  .navToggle:visited, .navToggle:hover, .navToggle:active {
    color: #d9534f; }
  .navToggle:before, .navToggle:after {
    left: 0; }
  .navToggle:before {
    top: 0; }
  .navToggle:after {
    bottom: 0; }

.navToggle-is-active:before {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg); }

.navToggle-is-active:after {
  -webkit-transform: translateY(-8px) rotate(-135deg);
  -ms-transform: translateY(-8px) rotate(-135deg);
  transform: translateY(-8px) rotate(-135deg); }

.navToggle:before, .navToggle:after, .navToggleLabel:before {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #d9534f;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navToggleLabel {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0 0 0 10px; }
  .navToggleLabel:before {
    top: 50%;
    right: 100%;
    margin: -1.5px 0 0; }

.navToggle-is-active .navToggleLabel:before {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Hightlight */
.hightlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border: 5px solid #d9534f;
  color: #fff;
  background: #d9534f; }

/* Checkbox & Radio Button */
.checkbox, .radio {
  position: absolute;
  z-index: -1;
  left: -10000px; }

.checkboxLabel, .radioLabel {
  position: relative;
  padding: 0 0 0 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkboxLabel:before, .radioLabel:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  margin: -10px 0 0; }

.checkbox:checked + .checkboxLabel:after, .radio:checked + .radioLabel:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 10px; }

.checkbox:focus + .checkboxLabel:before, .radio:focus + .radioLabel:before {
  outline: 1px dotted #ccc; }

/* Checkbox */
.checkbox:checked + .checkboxLabel:after {
  width: 10px;
  height: 8px;
  margin: -4px 0 0 -5px;
  background: #337ab7; }

/* Radio Button */
.radioLabel:before {
  border-radius: 50%; }

.radio:checked + .radioLabel:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  background: #337ab7; }

/* Buttons */
.buttonLink {
  display: inline-block; }

/* Hamburger */
.navToggle {
  position: relative;
  display: block; }

/* Highlight */
.narrowTextHolder {
  width: 200px; }

/* Checkbox & Radio Button */
.checkboxLabel, .radioLabel {
  display: inline-block;
  border: 0; }
/*# sourceMappingURL=demo.css.map */