/* Button */
.file-button, .buttonLink, .buttonInput {
  height: 44px;
  padding: 0 28px;
  border: 2px solid #337ab7;
  color: #fff;
  background: #337ab7;
  -webkit-transition: 0.15s;
  transition: 0.15s; }
  .file-button, .buttonLink {
    text-decoration: none;
    line-height: 44px; }
    .file-button:visited, .buttonLink:visited {
      color: #fff;
      background: #337ab7; }
  .buttonInput {
    cursor: pointer; }
  .file-button:hover, .buttonLink:hover, .buttonInput:hover, .file-button:active, .buttonLink:active, .buttonInput:active {
    color: #337ab7;
    background: #fff; }

/* Checkbox & Radio Button */
.checkbox, .radio {
  position: absolute;
  z-index: -1;
  left: -10000px; }

.checkboxLabel, .radioLabel {
  position: relative;
  padding: 0 0 0 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkboxLabel:before, .radioLabel:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  margin: -10px 0 0; }

.checkbox:checked + .checkboxLabel:after, .radio:checked + .radioLabel:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 10px; }

.checkbox:focus + .checkboxLabel:before, .radio:focus + .radioLabel:before {
  outline: 1px dotted #ccc; }

/* Checkbox */
.checkbox:checked + .checkboxLabel:after {
  width: 10px;
  height: 8px;
  margin: -4px 0 0 -5px;
  background: #337ab7; }

/* Radio Button */
.radioLabel:before {
  border-radius: 50%; }

.radio:checked + .radioLabel:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  background: #337ab7; }

/* Button */
.field {
  height: 44px;
  padding: 0 15px;
  border: 2px solid #ccc; }

/* Button */
.file-wrap {
  position: relative;
  height: 44px;
  padding: 0 15px;
  border: 2px solid #ccc; }
  .file-is-wrapped {
    position: absolute;
    left: -10000px;
    visibility: hidden; }
  .file-value {
    line-height: 44px; }
  .file-button {
    display: inline-block;
    position: absolute;
    right: -2px;
    top: -2px; }

/* Hamburger */
.navToggle {
  height: 19px;
  color: #d9534f;
  text-decoration: none;
  line-height: 19px; }
  .navToggle:before, .navToggle:after {
    left: 0; }
  .navToggle:before {
    top: 0; }
  .navToggle:after {
    bottom: 0; }
  .navToggle:visited, .navToggle:hover, .navToggle:active {
    color: #d9534f; }
  .navToggle-is-active:before {
    -webkit-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg); }
  .navToggle-is-active:after {
    -webkit-transform: translateY(-8px) rotate(-135deg);
    -ms-transform: translateY(-8px) rotate(-135deg);
    transform: translateY(-8px) rotate(-135deg); }

.navToggleLabel {
  position: relative;
  top: 0;
  display: block;
  padding: 0 0 0 30px;
  z-index: -1; }
  .navToggleLabel:before {
    top: 50%;
    left: 0;
    margin: -1.5px 0 0; }
  .navToggle-is-active .navToggleLabel:before {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.navToggle:before, .navToggle:after, .navToggleLabel:before {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #d9534f;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* Hightlight */
.hightlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border: 5px solid #d9534f;
  color: #fff;
  background: #d9534f; }

/* Overlay */
.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%) translateZ(0);
  transform: translateX(-100%) translateZ(0);
  -webkit-transition: opacity 0.15s, visibility 0.0001s 0.15s, -webkit-transform 0.0001s 0.15s;
  transition: opacity 0.15s, visibility 0.0001s 0.15s, transform 0.0001s 0.15s; }
  .overlay:before {
    display: inline-block;
    content: "";
    position: relative;
    width: 0;
    height: 100%;
    vertical-align: middle; }
  .overlay-is-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: opacity 0.15s, visibility 0.0001s, -webkit-transform 0.0001s;
    transition: opacity 0.15s, visibility 0.0001s, transform 0.0001s; }

/* Buttons */
.buttonLink {
  display: inline-block; }

/* Hamburger */
.navToggle {
  display: inline-block;
  position: relative; }

/* Highlight */
.narrowTextHolder {
  width: 200px; }

/* Checkbox & Radio Button */
.checkboxLabel, .radioLabel {
  display: inline-block;
  border: 0; }

/* Overlay */
/* Translate */
.transformThis {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  width: 100px;
  color: #fff;
  background: #d9534f;
  text-align: center;
  line-height: 100px; }

/* Field */
.field {
  width: 270px; }

/* Select */
/* Swipe */
.swipeDemo {
  height: 100%;
  text-align: center; }

.swipeDemoBody {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  .swipeDemoBody:before {
    display: inline-block;
    content: "";
    position: relative;
    width: 0;
    height: 100%;
    vertical-align: middle;
    width: 0;
    height: 100%;
    margin: 0 -5px 0 0;
    vertical-align: middle; }

.sliderHolder {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 4em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden; }

.slides {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .slides:before {
    display: block;
    content: "";
    position: absolute;
    width: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }

.slide {
  display: inline-block;
  position: relative;
  width: 100%;
  line-height: 300px;
  vertical-align: top;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .slide1 {
    background: red; }
  .slide2 {
    background: orange; }
  .slide3 {
    background: yellow; }
  .slide4 {
    background: green; }
  .slide5 {
    background: blue; }

.js-slidesNavigation {
  height: 6px;
  margin: 20px 0 0;
  padding: 0;
  text-align: center; }

.js-slidesNavigationPage {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background: #ccc;
  font-size: 0;
  vertical-align: top;
  border-radius: 50%;
  overflow: hidden; }
  .js-slidesNavigationPage-is-active {
    background: #333; }

.slides-are-fixing {
  -webkit-transition: .25s;
  transition: .25s; }

.slides-are-swiping {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

/* File Input */
/*# sourceMappingURL=styles.css.map */