@import '../patterns/_tx-fixedHeader';



/* Header */

.header {
  @extend %tx-fixedHeader;
  background: $red;
}




/* Content */

.fixedheaderDemo {
  @extend %tx-fixedHeader-content;
}

.content {
  width: 500px;
  margin: 0 auto;
}
