@import '../patterns/_tx-slider';



/* Swipe */

.sliderDemo {
  height: 100%;
  text-align: center;
}

.sliderDemoBody {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  &:before {
    @include tx-pseudo-va;
    margin: 0 -5px 0 0;
  }

}

.sliderHolder {
  $sliderHolder-color: $white;

  @extend %tx-sliderHolder;
  @include tx-inline-block;
  width: 100%;
  color: $sliderHolder-color;
  font-size: 4em;
  vertical-align: middle;
  white-space: nowrap;
}

.slider {
  @extend %tx-sliderBody;

  &-is-fixing {
    transition: .25s;
  }

  &-is-changing {
    transition: .5s;
  }

  &-is-swiping {
    pointer-events: none;
    user-select: none;
  }

}

.slide {
  @extend %tx-sliderSlide;
  line-height: 300px;

  &1 {
    $slide1-background: $red;

    background: $slide1-background;
  }

  &2 {
    $slide2-background: $blue;

    background: $slide2-background;
  }

  &3 {
    $slide3-background: $blue-dark;

    background: $slide3-background;
  }

  &4 {
    $slide4-background: $purple;

    background: $slide4-background;
  }

  &5 {
    $slide5-background: $black;

    background: $slide5-background;
  }

}

.js-sliderNavigation {
  height: 6px;
  padding: 0;
  margin: 20px 0 0;
  text-align: center;
}

.js-sliderNavigationPage {
  $slidesNavigationPage-background: $gray;
  $slidesNavigationPage-backgroundActive: $black;

  @include tx-inline-block;
  overflow: hidden;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 5px;
  background: $slidesNavigationPage-background;
  font-size: 0;
  vertical-align: top;

  &-is-active {
    background: $slidesNavigationPage-backgroundActive;
  }

}

%nav {
  @include tx-font-size($fontSize);
  @include tx-link($white, $all: true);
  position: absolute;
  top: 0;
  bottom: 26px;
  display: block;
  width: 25%;
  min-width: 50px;
  line-height: 320px;
  transform: translateZ(0);

  &:before {
    @include tx-pseudo;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($black, .25);
    opacity: 0;
    transform: translateZ(0);
    transition: inherit;
  }

  &:after {
    @include tx-pseudo;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border: $focus-outlineWidth dotted $focus-outlineColor;
    opacity: 0;
    transform: translateZ(0);
  }

  &:hover,
  &:active {

    &:before {
      opacity: 1;
    }

  }

  &:focus {
    outline: none;

    &:after {
      opacity: 1;
    }

  }

}

.slidePrev {
  @extend %nav;
  left: 0;
}

.slideNext {
  @extend %nav;
  right: 0;
}

@media handheld, only screen and (max-width: 720px) {

  %navPhone {
    display: none;
  }

  .slidePrev {
    @extend %navPhone;
  }

  .slideNext {
    @extend %navPhone;
  }

}
