@import '../patterns/_tx-spinner';



/* Spinner */

$spinnerIndicator1-stroke: $blue;
$spinnerIndicator2-stroke: $purple;
$spinnerIndicator3-stroke: $red;

.spinner {

  &Track {
    @extend %spinner-track;
  }

  &Indicator {
    @extend %spinner-indicator;

    &1 {
      @extend %spinner-indicator1;
      stroke: $spinnerIndicator1-stroke;
    }

    &2 {
      @extend %spinner-indicator2;
      stroke: $spinnerIndicator2-stroke;
    }

    &3 {
      @extend %spinner-indicator3;
      stroke: $spinnerIndicator3-stroke;
    }

  }

}
