@import 'patterns/_tx-stickyFooter';



/* Sticky Footer */

.stickyFooterDemo {
  @extend %tx-stickyFooterHolder;
  min-height: 100%;
}

.content {
  @extend %tx-stickyFooterBody;
  min-height: 300px;
  background: $blue;
}

.footer {
  min-height: 50px;
  background: $red;
}
