<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <a href="#" id="navToggle" class="navToggle"><span class="navToggleLabel">Menu</span></a>
    <nav id="navigation" class="navigation navigation-is-active">
      <ul class="navItems">
        <li class="navItem">
          <a href="#" class="navLink">Main Page</a>
        </li>
        <li class="navItem">
          <a href="#" class="navLink">Catalog</a>
        </li>
        <li class="navItem">
          <a href="#" class="navLink">Portfolio</a>
        </li>
        <li class="navItem">
          <a href="#" class="navLink">About</a>
        </li>
      </ul>
    </nav>
    <script type="text/javascript" src="res/js/offScreenNav.js" defer></script>
  </body>

</html>
