<!DOCTYPE html>

<html class="swipeDemo">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" type="text/css" href="res/css/styles.css">
    <script type="text/javascript" src="res/js/Modernizr/modernizr.min.js"></script>
  </head>

  <body class="swipeDemoBody">
    <div class="sliderHolder">
      <div class="slides">
        <div class="slide slide1">
          Slide 1
        </div><div class="slide slide2">
          Slide 2
        </div><div class="slide slide3">
          Slide 3
        </div><div class="slide slide4">
          Slide 4
        </div><div class="slide slide5">
          Slide 5
        </div>
      </div>
      <a href="#" id="prev" class="swipePrev">Prev</a>
      <a href="#" id="next" class="swipeNext">Next</a>
    </div>
    <script type="text/javascript" src="res/js/swipe.js" defer></script>
  </body>

</html>
