<!-- @tx-process:include _head.html --><!-- /@tx-process -->

  <body>
    <ul id="tabs" class="tabs">
      <li><a href="#tabContent-1" class="tab tab-is-active">Tab 1</a></li>
      <li><a href="#tabContent-2" class="tab">Tab 2</a></li>
      <li><a href="#tabContent-3" class="tab">Tab 3</a></li>
    </ul>
    <article id="tabContent-1" class="tabContent tabContent-is-active">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ducimus quia, sequi doloremque perspiciatis temporibus rem alias quaerat adipisci totam dolores maiores beatae libero qui necessitatibus, ea laudantium aut vitae!</p>
    </article>
    <article id="tabContent-2" class="tabContent">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptas alias ipsum dolores, perferendis cupiditate officia assumenda soluta, nemo labore qui? Laborum non minima ab consectetur, hic quis, aut eos.</p>
      <p>Cupiditate eaque odit maiores animi, quia molestiae dolorum dolor ut hic quidem illum asperiores odio deserunt omnis dicta fugiat, pariatur cumque. Ducimus quibusdam, ratione dolorem, provident harum aliquid delectus odit.</p>
    </article>
    <article id="tabContent-3" class="tabContent">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia facilis quidem laboriosam accusantium excepturi, quod hic. Expedita atque distinctio ipsa, rem, minus eligendi magnam repellendus temporibus, aliquam assumenda inventore quam!</p>
      <p>Ab officiis, nam repellat maxime enim quam atque sapiente dignissimos voluptatum, exercitationem reiciendis. Quas dolore, omnis cumque quidem enim porro! Ea ullam, fugiat quo similique nemo illum assumenda laboriosam natus?</p>
      <p>Obcaecati vero quo facilis consectetur rerum corporis voluptate asperiores incidunt modi voluptatem quibusdam ut porro sapiente, ea, unde natus quasi hic distinctio. Error ullam a quis nihil, reprehenderit velit sint!</p>
    </article>
    <script type="text/javascript" src="res/js/tabs.js" defer></script>
  </body>

</html>
