@import 'project/project';

@import 'components/tx-button';
@import 'components/tx-hamburger';
@import 'components/tx-highlight';
@import 'components/tx-checkRadio';
@import 'components/tx-overlay';



/* Buttons */

.buttonLink {
  @extend %tx-button-link;
  @include tx-inline-block;
}

.buttonInput {
  @extend %tx-button-input;
}



/* Hamburger */

.navToggle {
  @extend %tx-hamburger;
  @include tx-inline-block;
  position: relative;

  &-is-active {
    @extend %tx-hamburger-is-active;
  }

}

.navToggleLabel {
  @extend %tx-hamburgerleLabel;

  .navToggle-is-active & {
    @extend %tx-hamburgerleLabel-is-active;
  }

}



/* Highlight */

.hightlight {
  @extend %tx-hightlight;
}

.narrowTextHolder {
  width: 200px;
}



/* Checkbox & Radio Button */

%label {
  @include tx-inline-block;
  border: 0;
}

.checkbox {
  @extend %tx-checkbox;
}

.checkboxLabel {
  @extend %tx-checkboxLabel;
  @extend %label;
}

.radio {
  @extend %tx-radio;
}

.radioLabel {
  @extend %tx-radioLabel;
  @extend %label;
}



/* Overlay */

.overlay {
  @extend %tx-overlay;

  &-is-active {
    @extend %tx-overlay-is-active;
  }

}
