@import 'project/project';

@import 'components/tx-button';
@import 'components/tx-hamburger';
@import 'components/tx-highlight';
@import 'components/tx-checkRadio';



/* Buttons */

.buttonLink {
  @extend %tx-buttonLinkStyle;
  @include tx-inline-block;
}

.buttonInput {
  @extend %tx-buttonInputStyle;
}



/* Hamburger */

.navToggle {
  @extend %tx-hamburgerStyle;
  position: relative;
  display: block;

  &-is-active {
    @extend %tx-hamburgerActiveStyle;
  }

}

.navToggleLabel {
  @extend %tx-hamburgerleLabelStyle;

  .navToggle-is-active & {
    @extend %tx-hamburgerleLabelActiveStyle;
  }

}



/* Highlight */

.hightlight {
  @extend %tx-hightlightStyle;
}

.narrowTextHolder {
  width: 200px;
}



/* Checkbox & Radio Button */

%labelStyle {
  @include tx-inline-block;
  border: 0;
}

.checkbox {
  @extend %tx-checkboxStyle;
}

.checkboxLabel {
  @extend %tx-checkboxLabelStyle;
  @extend %labelStyle;
}

.radio {
  @extend %tx-radioStyle;
}

.radioLabel {
  @extend %tx-radioLabelStyle;
  @extend %labelStyle;
}
