@import 'project/_project';

@import 'components/_tx-button';
@import 'components/_tx-checkRadio';
@import 'components/_tx-field';
@import 'components/_tx-hamburger';
@import 'components/_tx-highlight';
@import 'components/_tx-overlay';



/* Buttons */

.buttonLink {
  @extend %tx-button-link;
  @include tx-inline-block;
}

.buttonInput {
  @extend %tx-button-input;
}



/* Hamburger */

.navToggle {
  @extend %tx-hamburger;
  @include tx-inline-block;
  position: relative;

  &-is-active {
    @extend %tx-hamburger-is-active;
  }

}

.navToggleLabel {
  @extend %tx-hamburgerleLabel;

  .navToggle-is-active & {
    @extend %tx-hamburgerleLabel-is-active;
  }

}



/* Highlight */

.hightlight {
  @extend %tx-hightlight;
}

.narrowTextHolder {
  width: 200px;
}



/* Checkbox & Radio Button */

%label {
  @include tx-inline-block;
  border: 0;
}

.checkbox {
  @extend %tx-checkbox;
}

.checkboxLabel {
  @extend %tx-checkboxLabel;
  @extend %label;
}

.radio {
  @extend %tx-radio;
}

.radioLabel {
  @extend %tx-radioLabel;
  @extend %label;
}



/* Overlay */

.overlay {
  @extend %tx-overlay;

  &-is-active {
    @extend %tx-overlay-is-active;
  }

}



/* Translate */

.transformThis {
  $transformThis-size: 100px;
  $transformThis-fontSize: 18px;
  $transformThis-color: $white;
  $transformThis-background: $red;

  @include tx-font-size($transformThis-fontSize);
  width: $transformThis-size;
  color: $transformThis-color;
  background: $transformThis-background;
  text-align: center;
  line-height: $transformThis-size;
}



/* Field */

.field {
  $field-width: 300px;

  @extend %tx-field;
  width: ($field-width - $tx-field-padding * 2);
}



/* Select */

.select {
  @extend %tx-select;
}



/* Swipe */

.swipeDemo {
  height: 100%;
  text-align: center;
}

.swipeDemoBody {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  &:before {
    @include tx-pseudo-va;
    width: 0;
    height: 100%;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }

}

.sliderHolder {
  $sliderHolder-color: $white;

  @include tx-inline-block;
  width: 100%;
  color: $sliderHolder-color;
  font-size: 4em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.slides {
  position: relative;
  transform: translateZ(0);

  &:before {
    @include tx-pseudo;
    width: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

}

.slide {
  @include tx-inline-block;
  position: relative;
  width: 100%;
  line-height: 300px;
  vertical-align: top;
  transform: translateZ(0);

  &1 {
    background: red;
  }

  &2 {
    background: orange;
  }

  &3 {
    background: yellow;
  }

  &4 {
    background: green;
  }

  &5 {
    background: blue;
  }

}

.js-slidesNavigation {
  height: 6px;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

.js-slidesNavigationPage {
  $slidesNavigationPage-background: $gray;
  $slidesNavigationPage-backgroundActive: $black;

  @include tx-inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background: $slidesNavigationPage-background;
  font-size: 0;
  vertical-align: top;
  border-radius: 50%;
  overflow: hidden;

  &-is-active {
    background: $slidesNavigationPage-backgroundActive;
  }

}

.slides-are-fixing {
  transition: .25s;
}

.slides-are-swiping {
  user-select: none;
  pointer-events: none;
}
